{% extends "_helpers/_base.html" %}

{% block content %}
    <div style="color: black">
        <h1>Contact</h1>
        <div style="display: flex; flex-wrap: wrap;">
                <div style="margin-right: 20px; margin-bottom: 10px;">
                    <span>{{ contact.pk }}</span>
                    <br>
                    <span>{{ contact.name }}</span>
                    <br>
                    <span>{{ contact.phone }}</span>
                    <br>
                    <span>{{ contact.created_at }}</span>
                    <br>
                    <span>{{ contact.modified_at }}</span>
                </div>
        </div>
    </div>
{% endblock %}
